// Define your color variables
$primary-color: #283142; // Navy Blue
$accent-color: #234951; // Light Blue
$background-color: #F4F4F4; // Light Gray
$cta-color: #00A79D; // Teal
$text-color: #333333; // Dark Charcoal
$additional-accent-color: #A2C94C; // Light Green

// Use the variables to create your SCSS styles
body {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: $background-color;
  text-decoration: none;
  padding: 8px 16px;
}

#intro {
  width: 90%;
}

.skills-grid img {
  max-width: 48px;
}

#content {

  min-height: 85vh;  
  
  margin: auto;
  width: 80%;
  
}

#textSection {
  text-shadow: '2px 2px 4px rgba(0, 0, 0, 0.2)';
}

// hide the sidebar on small screens
@media (max-width: 1230px) {
  #sidebar {
    display: none;
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.inviteDown {
  animation: pulsate 1.5s infinite;
}

.hidden {
  opacity: 0;
}